
{% extends 'app/layouts/default.html' %} 
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Users</h1>
  <a href="{% url 'users_registre' %}" class="btn btn-primary"> <i class="bi bi-plus" style="font-size: large;">Ajouter le nouveau</i> </a>
  {% if messages %}
          {% for message in messages %} 
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="fas fa-alert mr-1"></i>{{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          {% endfor %}
  {% endif %}
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Numero</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Email </th>
              <th>Nom d'Utilisateur</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>
              <td>
                <a href="{% url 'users_edit' user.id %}" class="btn btn-secondary"><i class="bi bi-eye">edit</i> </a>
                <form action="{% url 'users_delete' user.id %}"   method="post">
                  {% csrf_token %}
                  <button type="submit"onclick="return confirm('Voulez vous supprimer cet utilisateur ?')"  class="btn btn-danger"><i class="bi bi-trash">delete</i>
                  </button>
                </form>
              </td> 

              {% comment %} <td class="col-md-2 d-none d-md-table-cell">                      
                <div class="btn-group"  aria-label="Basic example " style=" width: 100px; height: 40px;">
                    <a href="#" class="btn btn-secondary d-inline mr-2"><i class="bi bi-eye">edit</i></a>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ?')"  class="btn btn-danger d-inline mr-2"><i class="bi bi-trash">delete</i></button>
                    </form>
                </div>
            </td> {% endcomment %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

{% endblock %}
