{% extends 'app/layouts/default.html' %}
{% block content %}
<div class="card mt-3">

  {% if messages %}
      {% for message in messages %}
          <p class="alert alert-success w-100 h-100">{{message}}</p>
      {%endfor %}
  {% endif %}
     
	<div class="row">
    
	 <div class="col-12 col-lg-12">
    <a href="{% url 'roles_add' %}" class="btn btn-primary">Nouveau Role</a>
    <br>
	   <div class="card">
	     <div class="card-header">Liste des Roles
		  <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
             </a>
              <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();">Another action</a>
              <a class="dropdown-item" href="javascript:void();">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();">Separated link</a>
               </div>
              </div>
             </div>
		 </div>
	       <div class="table-responsive">
                 <table class="table align-items-center table-flush table-borderless">
                  <thead>
                   <tr>
                     <th>Id</th>
                     <th>Nom_Role</th>                    
                     <th>action</th>
                   </tr>
                   </thead>
                   <tbody>
                    {% for role in roles %}
                    <tr>
                       <td>{{ role.id}}</td>
                       <td>{{ role.nom}}</td>
                       <td>
                      
                        <div class="btn-group"  aria-label="Basic example " style=" width: 100px; height: 40px;"> 
                          <a href="{% url 'roles_edit' role.id %}" class="btn btn-secondary d-inline mr-2"><i class="bi bi-pencil-square"></i>  </a>
                         <form action="{% url 'roles_delete' role.id %}" method="post">
                             {% csrf_token %}
                           
                             <button type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ce role ?')"  class="btn btn-danger d-inline mr-2"><i class="bi bi-trash"></i> </button>
                         </form>
                     </div>

                         
                     </td>
                      
                   </tr>
                   {% endfor %}
                 </tbody></table>
               </div>
	   </div>
	 </div>
	</div><!--End Row-->

    {% endblock %}